In [1]:
import numpy as np
from IPython.display import display
import pandas as pd

In [5]:
df = pd.DataFrame({
    'A': [None, 2, 3, None, 5],
    'B': [10, None, None, 40, 50],
    'C': [100, None, 300, 400, None]
})

In [9]:
df_no_nan_rows = df.dropna()
print("DataFrame with no NaN rows:", df_no_nan_rows)

DataFrame with no NaN rows:
 Empty DataFrame
Columns: [A, B, C]
Index: []

In [11]:
df_no_all_nan_rows = df.dropna(how='all')
print("DataFrame with no fully NaN rows:", df_no_all_nan_rows)

DataFrame with no fully NaN rows:      A     B      C
0  NaN  10.0  100.0
1  2.0   NaN    NaN
2  3.0   NaN  300.0
3  NaN  40.0  400.0
4  5.0  50.0    NaN

In [13]:
df_no_nan_in_A_C = df.dropna(subset=['A', 'C'])
print("DataFrame with no NaN in 'A' or 'C':", df_no_nan_in_A_C)

DataFrame with no NaN in 'A' or 'C':      A   B      C
2  3.0 NaN  300.0

In [15]:
df_filled = df.fillna(-1)
print("DataFrame with all NaNs replaced by -1:", df_filled)

DataFrame with all NaNs replaced by -1:      A     B      C
0 -1.0  10.0  100.0
1  2.0  -1.0   -1.0
2  3.0  -1.0  300.0
3 -1.0  40.0  400.0
4  5.0  50.0   -1.0

In [ ]:
df_B_filled = df.copy()
df_B_filled['B'].fillna(df['B'].mean(skipna=True), inplace=True)
print("\nDataFrame with NaNs in 'B' replaced by mean:\n", df_B_filled)